*{
    text-align: center;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
background-color:#EFEEEA;
color:#26262C;
}
.amount1{
    border:1px solid black;
    width:13vw;
    border-radius: 10px;
    background-color:#ffffff;
}
.amount2{
    border:1px solid black;
    width:13vw;
    border-radius: 10px;
    background-color:#ffffff;
}
.cc{
    /* display:flex; */
    /* align-items:center; */
    /* justify-content: center; */
}
.amount_convert {
    /* border:1px solid black; */
    height:30rem;
    width:30rem;
    justify-content: space-evenly;
    border-radius:11%;
    margin:auto  ;
    margin-top:6.5rem;
    background-color:#FFD63A;
    padding-top: 3rem;

}
img{
    border-radius:0%;
    /* border:1px solid black; */
    width:23px;
      

}
.btn{
    display:flex;
    justify-content:center;
    margin-top:3rem;
    

}
#btn_in{
    font-size:1.4rem;
    background-color:#ffffff;
    color:black ;
    border-radius:1rem;
    cursor:pointer;

}
.amount12{
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    /* border:1px solid black; */
    margin-top:11%;
    
}

.from{
    /* border:1px solid black; */
    width:13vw; 

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.to{
    /* border:1px solid black; */
    width:13vw; 

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.msg{
margin-top:3rem;
font-size:1.4rem;
font-weight: 550;
/* border:1px solid black; */
}
.textarea1{
    /* border:1px solid black; */
        margin-bottom:0.5rem;
        padding:0;

}
.textarea2{
    /* border:1px solid black; */
        margin-bottom:0.5rem;
        padding:0;

}
input{
    width:11vw;
}